<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<title></title>
<link rel="stylesheet" href="${CONTEXT_PATH}/common/lib/css/bootstrap.min.css">
<link rel="stylesheet" href="${CONTEXT_PATH}/common/lib/css/viewer.min.css">
${YDPX_STYLE_INCLUDE}
<script type="text/javascript">
var pageData = ${PAGE_DATA};//PAGE_DATA_END
var ydpxData = ${YDPX_DATA};//YDPX_DATA_END
var ydpxScript = ${YDPX_SCRIPT};//YDPX_SCRIPT_END
</script>
</head>
<body class="line-spacing-S">
<div id="pageMain"></div>

<script src="${CONTEXT_PATH}/common/lib/js/jquery-3.3.1-with-migrate-3.0.0.min.js"></script>
<script src="${CONTEXT_PATH}/common/lib/js/viewer.min.js"></script>
<script src="${CONTEXT_PATH}/template/ish03/js/lib-base-558f3b0385.min.js"></script>
<script src="${CONTEXT_PATH}/template/ish03/js/ydl-0409-9335d296e2.min.js"></script>
${YDPX_SCRIPT_INCLUDE}
</body>
</html>
