#page_wrap {position: static;}
.page-main-user,
#pageTabs>ul.nav-tabs {display:none;}
#pageMain {background-color: transparent; padding: 0px; margin: 0px;}
#pageTabs > div.tab-content {background-color: transparent;}

/* 妫ｆ牠銆夋稉顏冩眽娣団剝浼� */
body{
	background:#f1f2f9;	
}
/* 棣栭〉涓汉淇℃伅閮ㄥ垎 */
.home-main-user{
	width: 1200px;
	background: #fff;
	margin:0 auto;
	overflow: hidden;
    position: relative;
    border-radius:15px;
    height:150px;
}
.line-home-wdzh{
	float:left;
	margin-top:46px;
	background: url(image/line_home_wdzh.png) no-repeat;
	width:1px;
	height:60px;
	margin-left:46px;
}
.operation-record{
	width:130px;
	background:#ef5467;
	height:30px;
	float:left;
	margin-left:360px;
	color:#fff;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	margin-bottom:28px;
	cursor:pointer;
}
.operation-record span{
	float:left;
	height:30px;
	line-height:30px;
}
.operation-record-word{
	margin-left:10px;
}
.operation-record-img{
	margin-left:10px;
	width:16px;
	height:16px;
	background:url(image/btn_arrow_zjczjl_down.png) no-repeat;
	margin-top:6px;
}
.operation-record-shadow{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 101;
    background: rgba(0,0,0,0.5);
}
.operation-record-content{
	width:900px;
	background:#fff;
	border-radius:10px;
	float:left;
	margin-left:-450px;
	margin-top:0px;
	/* margin-top:118px; */
	top:125px;
	position:absolute;
	left:50%;
}
.operation-record-content-head{
	float:left;
	margin-left:20px;
	width:860px;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #ececec;
}
.operation-record-list{
	float:left;
	margin-left:20px;
	width:860px;
}
.operation-record-list li{
	height:50px;
	line-height:50px;
	border-bottom:1px solid #ececec;
}
.operation-record-list li span{
	float:left;
	margin-left:30px;
}
.bold{
	font-weight:bold;
	height:50px;
	line-height:50px;
}
.operation-record-axis{
	width:1px;
	height:20px;
	background:url(image/line_home_wdzh.png) no-repeat;	
	margin-top:15px;
}
.operation-record-list li .operation-record-con{
	margin-left:10px;
}
.operation-record-pointer{
	color:#2b69e9;
}
.operation-record-content-foot{
	width:100%;
	height:40px;
	background:#2b69e9;
	position:absolute;
	bottom:0;
	left:0;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
operation-record-content-foot a{
	display: block;
	float: right;
}
.operation-record-content-more{
	float:right;
	margin-right:18px;
	height:40px;
	line-height:40px;
	color:#fff;
	cursor:pointer;
}
.operation-record-content-more span{
	font-size: 16px;
	vertical-align: middle;
	margin-left: 18px;
}
.operation-record-content-up{
	width:60px;
	height:20px;
	background:#ef5467;
	position:absolute;
	left:50%;
	margin-left:-30px;
	bottom:-20px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	cursor:pointer;
}
.operation-record-content-up span{
	width:16px;
	height:16px;
	color:#fff;
	margin-left:22px;
	margin-top:2px;
}
.home-mid{
	width:1200px;
	margin:16px auto 0;
	float:left;
	padding-bottom:80px;
}
/* 汇缴部分 */


/* 汇缴部分 */
.ajax-corver-container .huijiao-message-con{
	display: none;
}
.huijiao-message{
	width:460px;
	height:410px;
	float:left;
	background:#fff;
	border-radius:15px;	
}
.active-block span{
	float:left;
	margin-left:20px;
	margin-top:16px;
	line-height:20px;
}
.kuai-head{
	margin-left:10px !important;
	font-weight:bold;
}
.huijiao-message-con{
	width:420px;
	height:330px;
	background:#2b69e9;
	float:left;
	margin-top:20px;
	margin-left:20px;
	border-radius:10px;
	position:relative;
	z-index: 0;
	overflow: hidden;
}
#imgCircle{
	height:100%;
	position:absolute;
	z-index:10;
}
.carousel-inner{
	height:100%;
}
.carousel-inner .item{
	height:100%;
}
#carousel-inner .item div{
	float:left;
	color:#fff;
	width:100%;
}
#carousel-inner .item div p,#carousel-inner .item div span{
	float:left;
	width:100%;
	text-align:center;
	margin:0;
}
#carousel-inner .item div p:nth-child(1){
	margin-top:10px;
	font-size:18px;
}
#carousel-inner .item div span:nth-child(2){
	margin-top:2px;
	font-size:14px;
	font-weight:bold;
}
#carousel-inner .item div p:nth-child(3){
	margin-top:54px;
	font-size:14px;
	text-align:left;
	text-indent:20px;
}
#carousel-inner .item div span:nth-child(4){
	font-size:38px;
	font-weight:bold;
	text-align:left;
	text-indent:20px;
	line-height:48px;
}
#carousel-inner .item div p:nth-child(5){
	margin-top:30px;
	font-size:14px;
	text-align:left;
	text-indent:20px;
	width:auto;
}
#carousel-inner .item div span:nth-child(6){
	font-size:14px;
	margin-top:30px;
	text-align:left;
	width:auto;
}
#carousel-inner .yjhj-left{
	position:absolute;
	left:14px;
	top:14px;
	z-index:10;
	font-size:34px;
	width:34px;
	height:34px;
	background:none;
}
#carousel-inner .yjhj-right{
	position:absolute;
	right:14px;
	top:14px;
	z-index:10;
	font-size:34px;
	width:34px;
	height:34px;
	background:none;
}
#carousel-inner #carouselMenu{
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	border-top: solid 1px #4c84f6;
}
#carousel-inner #carouselMenu a{
	display: inline-block;
	color: #ffffff;
	width: 209px;
	height: 100%;
	text-align: center;
	line-height: 48px;
	cursor: pointer;
}
#carousel-inner #carouselMenu a:nth-child(1){
	border-right: solid 1px #4c84f6;
}
#carousel-inner #carouselMenu a:hover{
	text-decoration: none;
}
#carousel-inner #carouselMenu a span{
	float: none;
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
	font-size: 16px;
}
.huijiao-message-con-head{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:64px;
	background:#2260e0;
	z-index:5;
}
/* 查询部分 */
.chaxun-message{
	width:1200px;
	margin:16px auto 0px;
	float:left;
	border-radius:15px;
	background:#fff;
	height:50px;
}
.chaxun-message ul{
	float:left;
	margin-top:16px;
}
.chaxun-message ul li{
	float:left;
	margin-left:20px;
	color:#2b69e9;
}
.chaxun-message ul li a, .chaxun-message ul li a:hover{
	color:#2b69e9;
	text-decoration: none;
}
.chaxun-message ul li span{
	margin: 3px 5px 0px 0px;
	font-size: 16px;
}
/* 办理部分 */
.banli-message{
	float:left;
	width:724px;
	height:196px;
	background:#fff;
	border-radius:15px;
	margin-left:16px;
}
.banli-message ul{
	float:left;
	min-width:700px;
	margin-left:20px;
	margin-top:16px;
}
.banli-message ul li{
	float:left;
	width:124px;
	height:122px;
	border:1px solid #ececec;
	margin-right:16px;
}
.banli-message ul li a{
	display: block;
  width: 100%;
  height: 100%;
	line-height: 24px;
	padding: 63px 12px 0px 12px;
  text-align: center;
	position: relative;
	color: #666666;
}
.banli-message ul li a:hover{
	text-decoration: none;
}
.banli-message ul li a span{
	position: absolute;
	margin: -39px 0px 0px 45px;
	left: 0px;
	float: none;
	font-size: 32px;
	color: #2b69e9;
}
.banli-message ul li a span.color-1{
	color: #37d4bc;
}
.banli-message ul li a span.color-2{
	color: #2b69e9;
}
.banli-message ul li a span.color-3{
	color: #c06bf6;
}
.banli-message ul li a span.color-4{
	color: #ffce22;
}
.banli-message ul li a span.color-5{
	color: #ef5467;
}

.banli-message ul li a p{
	margin: 0px;
	line-height: 48px;
}
.banli-message ul li a p.double-line{
	line-height: 24px;
}
.banli-message ul li a p.multi-line{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 申报部分 */
.shenbao-message{
	float:left;
	width:354px;
	height:196px;
	background:#fff;
	border-radius:15px;
	margin-left:16px;
	margin-top:16px;
}
.shenbao-message p{
	float:left;
	margin-left:20px;
	margin-top:20px;
	margin-right:20px;
	height:90px;
	clear:left;
}
.shenbao-message > a{
	float:left;
	background:#2b69e9;
	width:100%;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	color:#fff;
	height:40px;
}
.shenbao-message a em{
	font-style: normal;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-left: 20px;
}
.shenbao-message a em span{
	font-size: 16px;
	margin: 13px 5px 0px 0px;
}
.shenbao-message a .right-arrow{
	float:right;
	margin-right:20px;
}
.shenbao-message p a{
	color: #ef5467;
	text-decoration: underline;
}
.zanwu{
	float: left;
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
}
.zanwu-img{
	float:left;
	width:160px;
	height:100px;
	background: url(image/img_zwyy.png) no-repeat;
}
.zanwu-word{
	float:left;
	color:#666;
	font-size:16px;
	margin-top:40px;
}
/* 归集部分 */
.guiji-message{
	float:left;
	width:354px;
	height:196px;
	background:#fff;
	border-radius:15px;
	margin-left:16px;
	margin-top:16px;
}
.guiji-message ul{
	float:left;
	margin-top:20px;
	margin-left:20px;
}
.guiji-message ul li{
	float:left;
	margin-bottom:24px;
	width:150px;
}
.guiji-message ul li a, .guiji-message ul li a:hover{
	color: #666666;
	text-decoration: none;
	width: 129px;
	display: block;
	float: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.guiji-message ul li a span{
	margin: 3px 5px 0px 0px;
	font-size: 16px;
	float: none;
	vertical-align: middle;
}
.img-clock{
	background:url(image/icon_czjl.png) no-repeat;	
	float:left;
	width:16px;
	height:16px;
	margin-top:16px;
}
.operation-record-word{
	float:left;
	margin-left:10px;
}
.my-account{
	float:left;
	width:98px;
	height:28px;
	border:1px solid #2b69e9;
	text-align:center;
	line-height:28px;
	border-radius:20px;
	margin-left:34px;
}
.user-img {
	width: 70px;
	height: 70px;
	background: url(image/img_head_company.png) no-repeat;
	background-size: 100%;
	margin-left:46px;
	margin-top:15px;
}
.user-content {
	width: 980px;
	background:#fff;
	margin-left: 20px !important;
}
.user-left{
	float:left;
	width:190px;
}
.user-content div{
	margin-bottom:14px;
}
.home-user-name {line-height: 3em; font-size: 24px;display:none;}
.user-content>div label {font-weight: normal; color: #969696; line-height: 2em;}
.user-content>div span {line-height: 2em;}

.pack-up {
	font-size: 12px;
	color: #0086df;
	cursor: pointer;
	top:10px;
	right: 20px;
    position: absolute;
    display:none;
}
.pack-up span{
	display: inline-block;
	width: 7px;
	height: 5px;
	margin-left: 10px;
	background: url(image/icon-arrow-gray-7x5.png) no-repeat;
}
.pack-up .icon-up{background-position: -7px 0px;}
/* 首页一级菜单 */
.home-main-nav {
	/* width: 1180px;
	margin:0 auto;
	margin-top: 40px;
	margin-bottom: 10px; */
	width:100%;
	background:#06173b;
	position: fixed;
    bottom: 0px;
    margin: 0px -2px 0px -2px;
    z-index:100;
    cursor:pointer;
}
.kuai-left{
	width:16%;
	float:left;
	height:50px;
	background:#ef5467;
	text-align:center;
}
.kuai-left-con{
	display:inline-block;	
}
.kuai-left span{
	float:left;
	font-size:18px;
	color:#fff;
	height:50px;
	line-height:50px;
}
.kuai-left p{
	float:left;
	line-height: 50px;
    float: left;
    margin-left: 14px;
    margin-bottom:0px;
    color:#fff;
    font-size:18px;
}
.home-main-nav ul {overflow: hidden; padding: 0px;margin:0px;display: flex; float:left; width:84%;}
/* 娑擄拷缁狙嗗綅閸楁洑绔寸悰灞芥禈閺嶅洦鏆熼柌锟� */
/* .home-main-nav .col6 li{width: 180px;} */
.home-main-nav .col5 li{width: 220px;}
.home-main-nav .col4 li{width: 280px;}
.home-main-nav .col3 li{width: 380px;}
.home-main-nav .col2 li{width: 580px;}
/* 一级菜单具体样式 */
.home-main-nav li {
	float: left;
	height: 50px;
	/* margin: 0px 10px 20px 10px; */
	font-size: 18px;
	color: #fff;
	/* border-radius: 5px; */
    list-style: none;
    text-align: center;
    flex:1;   
}
.home-main-nav li > a {color: #fff; text-decoration: none; display: inline-block;}
.home-main-nav li span {font-size: 18px;height:50px;line-height:50px;float:left;}
.home-main-nav li p {/* margin:0 auto; */ line-height: 50px;float:left;margin-left:14px;}
/* 妫ｆ牠銆夋稉锟界痪褑褰嶉崡鏇″剹閺咃拷 */
/* .home-main-nav .icon-bg0 {background: #4cb0fb;}
.home-main-nav .icon-bg1 {background: #ffb93f;}
.home-main-nav .icon-bg2 {background: #85d260;}
.home-main-nav .icon-bg3 {background: #1cccc2;}
.home-main-nav .icon-bg4 {background: #ff7145;} */
.home-main-nav .icon-bg0:hover {background: #ef5467;}
.home-main-nav .icon-bg1:hover {background: #ef5467;}
.home-main-nav .icon-bg2:hover {background: #ef5467;}
.home-main-nav .icon-bg3:hover {background: #ef5467;}
.home-main-nav .icon-bg4:hover {background: #ef5467;}

/* 妫ｆ牠銆夋禍宀�楠囬懣婊冨礋 */
.submenu-keep {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 5;
	background:rgba(0,0,0,0.5);
}
.submenu {
	position: fixed;
	height: 350px;
	border-radius: 10px;
	/* border: 1px solid #87d567;
	   color: #87d567;
	   2017-12-19缂佸瓨濮�
    */
	border: 1px solid #fff; 
	background:#fff;
	z-index: 6;
}
.submenu:before{
	content: "";
    width: 0px;
    height: 0px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 70px;
}
/* 閼挎粌宕熺仦鏇炵磻閺嶅嘲绱� 
.submenu.sty-col0 {border: 1px solid #4cb0fb; color: #4cb0fb;}
.submenu.sty-col0 .submenu-list>div a {color: #4cb0fb;}
.submenu.sty-col1 {border: 1px solid #ffb93f; color: #ffb93f;}
.submenu.sty-col1 .submenu-list>div a {color: #ffb93f;}
.submenu.sty-col2 {border: 1px solid #87d567; color: #87d567;}
.submenu.sty-col2 .submenu-list>div a {color: #87d567;}
.submenu.sty-col3 {border: 1px solid #1cccc2; color: #1cccc2;}
.submenu.sty-col3 .submenu-list>div a {color: #1cccc2;}
.submenu.sty-col4 {border: 1px solid #ff7145; color: #ff7145;}
.submenu.sty-col4 .submenu-list>div a {color: #ff7145;}
*/
.submenu-content {
	/* background-color: rgba(0, 0, 0, 0.8); 2017-12-19缂佸瓨濮� */
	/* background-color: rgba(0,24,71,0.9);
	padding-left: 20px;
	padding-right: 20px; */
}

.submenu.desc {height: auto;}
.submenu-head,
.submenu-btn {
	min-height: 50px; margin: 0 auto; font-size: 18px; text-align: center; line-height: 50px; 
	/* border-bottom: 1px solid #5c5c5c;   2017-12-19缂佸瓨濮�*/
	border-bottom: 1px solid #0086e4;
}
/* .submenu-btn {border: none; border-top: 1px solid #5c5c5c;}  2017-12-19缂佸瓨濮�*/
.submenu-btn {border: none; border-top: 1px solid #0062a7;}
.submenu-btn span.glyphicon {cursor: pointer;}
.submenu-btn span.glyphicon:hover {color: #fff;}
.submenu-btn span.menudesc {line-height: 25px;display: inline-block;padding-top: 10px;}
.submenu .submenu-list {overflow: hidden; height: 246px; padding-top: 18px;}
.submenu .submenu-list.exist-grouptitle {padding-top: 0px;}
.submenu .submenu-list>div {float: left;}
/* .submenu .submenu-list>div a { font-size: 14px; color: #87d567; display: block; padding-left: 15px; padding-right: 15px; line-height: 42px; height: 42px; white-space: nowrap;} 2017-12-19缂佸瓨濮�*/
.submenu .submenu-list>div a { font-size: 14px; color: #707070; display: block; padding-left: 15px; padding-right: 15px; line-height: 42px; height: 42px; white-space: nowrap;}

.submenu .submenu-list div.menulist3 {overflow: hidden; height: 210px;color:#707070; }
.submenu .submenu-list div.menulist3>div {float: left; }
.submenu .submenu-list>div>span {display: block; text-align: center; line-height: 30px; height: 30px; font-size: 14px; color: #fff;}


/* 閸忕厧顔愭禒锝囩垳 */
@media \0screen\,screen\9 {
	.submenu .submenu-list>div,
	.submenu .submenu-list div.menulist3 div,
	.submenu-head {position: relative;}
    .submenu-content,
	.submenu .submenu-list div.menulist3 {background-color:#000000; *zoom:1; position:static;}
	.submenu-content {filter:Alpha(opacity=70);}
	.submenu .submenu-list div.menulist3 {filter:Alpha(opacity=40);}
	.submenu .submenu-list div.menulist3 a,
	.submenu-head span {filter:Alpha(opacity=100);}
}



